.about-container{
	padding: 5vh 7.5vw 5vh 7.5vw;
}
.about-container-header{
    font-size: 3.5em;
    font-weight: 900;
    line-height: 1;
    padding-bottom: 24px;
}
.about-container-description{
	text-align: justify;
}
.about-container-description span{
	font-weight: 700;
}