/* Reset margin and paddings */
* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

html, body {
	margin: 0;
	height: 100%;
}


h1{
  font-size: 7vw;
  font-weight: 600;
}

h2{
  font-size: 3.5vw;
  font-weight: 400;
}

p{
  font-size: 3vw;
  line-height: 1.5em;
  font-weight: 300;
}

#main-container{
	display: flex;
	width: 100vw;
	align-items: center;
  	flex-direction: column;
}

.card{
  margin-bottom: 50px;
  width: 95vw;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  overflow: hidden;
}

.button{
  background-color: #45aaf2;
  padding: 10px 30px;
  font-size: 10px;
  font-weight: 700;
  color: white;
  border-radius: 100px;
  text-align: center;
}

.section-title > h1{
	text-align: center;
    font-size: 12vw;
}

.red{
	color: #eb3b5a;
}
.blue{
	color: #45aaf2;
}
.green{
	color: #20bf6b;
}
.yellow{
	color: #fed330;
}
.dark{
	color: #242424;
}

.bg-red{
	bakground-color: #eb3b5a;
}
.bg-blue{
	bakground-color: #45aaf2;
}
.bg-green{
	bakground-color: #20bf6b;
}
.bg-yellow{
	bakground-color: #fed330;
}
.bg-dark{
	bakground-color: #242424;
}