.landing-page-container{
	background-image: url("../../public/image/landing-bg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height:100vh;
	width: 100vw;
}
.landing-page-header{
	display: flex;
	margin-top: 24px;
    align-items: center;
}
.landing-page-hb{
	font-size: 2.5em;
    position: absolute;
    margin-left: 7.5vw;
}
.landing-page-logo{
    width: 100%;
    height: 48px;
    background-image: url(../../public/image/logo2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.landing-page-content{
    height: 100%;
    padding: 10vh 7.5vw 0 7.5vw;
}
.landing-page-content-title{
    color: #45aaf2;
    font-size: 5em;
    font-weight: 900;
    line-height: 1;
}	
.landing-page-content-description{
    font-size: 1em;
    color: #242424;
    font-weight: 400;
    padding: 5vh 0;
}
.landing-page-content-button{
    background-color: #45aaf2;
    width: 45vw;
    font-size: 0.7em;
    padding: 10px;
    color: white;
    border-radius: 32px;
    text-align: center;
}