
.overlay{
  background-color: #242424;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 7.5vw;
  padding-top: 30%;
  overflow: hidden;
}

.nav-text{
  margin-bottom: 20px;
  font-size: 6em;
}

.circle{
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  margin: 10px;
}

.nav-decoration-container{
  width: 45vw;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotateZ(45deg);
}

#red-circle{background-color: #eb3b5a;}
#blue-circle{background-color: #45aaf2;}
#yellow-circle{background-color: #fed330;}
#green-circle{background-color: #20bf6b;}
