.sch-container{
  width: 100vw;
  padding: 0 7.5vw;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.sch-container h2{
  font-size: 0.9em;
  font-weight: 300;
}

.map{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  box-sizing: border-box;
}

.map-title-container{
  width: 100%;
}

.map-title-container h2{
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 700;
}

.map-title-container h3{
  font-size: 15px;
  font-weight: 300;
}

.gmaps{
  grid-area: 2/1/3/2;
  width: 100%;
  height: 85vw;
  background-color: rgb(146, 230, 182);
  margin: 10px 0 10px 0;
  box-sizing: border-box;

  background-image: url("../../public/image/map-temp.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
